<!-- Footer -->
<footer class="text-center text-lg-start text-muted" style="margin-top: 50px; background-color: rgba(0, 0, 0, 0.025);" >
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="https://www.facebook.com/Zara/" class="me-4 link-secondary">
          <i class="fa fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/ZARA" class="me-4 link-secondary">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.zara.com/tn/en/" class="me-4 link-secondary">
          <i class="fa fa-google"></i>
        </a>
        <a href="https://www.instagram.com/zara/?hl=fr" class="me-4 link-secondary">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="https://www.pinterest.com/zaraofficial/" class="me-4 link-secondary">
          <i class="fa fa-pinterest"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h5 class="text-uppercase fw-bold mb-4">
                ZARA
            </h5>
            <p>
                ZARA is a Spanish multi-national retail clothing chain. It specialises in fast fashion, and sells clothing, 
                accessories, shoes, beauty products and perfumes. The head office is in Arteixo, in A Coruña in Galicia. 
                It is the largest constituent company of the Inditex group.
            </p>
          </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fa fa-home me-3 text-secondary"></i> New York, NY 10012, US</p>
            <p>
              <i class="fa fa-envelope me-3 text-secondary"></i>
              zara@contact.com
            </p>
            <p><i class="fa fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
            <p><i class="fa fa-print me-3 text-secondary"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="https://www.zara.com/tn/en/">Zara.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
