.content{
    display: flex;
}
.image-left{
    text-align: left;
    width: 200px;
    height: auto;
    margin-top: 30px;
    margin-left: 150px;
}
.img{
    width: 500px;
}
.text-right{
    text-align: left;
    margin-left: 500px;
    margin-top: 200px;
}
.imgbg{
    width: 100%;
  
}
.box{
    display: flex;
}
button{
    margin-right: 10px;
}